.Success {
  position: relative;
  height: 100%;
  &:after {
    content: '';
    position: absolute;
    width: 182px;
    height: 160px;
    background: url('./car.png');
    left: 50%;
    bottom: 95px;
    margin-left: -91px;
  }
}

.title {
  text-align: center;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}

.text {
  padding: 0px 190px;
  text-align: center;
}