.Progress {
  height: 160px;
  margin-bottom: 48px;
}

.State {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  position: relative;
  font-size: 32px;
  color: #0B80D4;
  line-height: 38px;
  padding: 51px 0px;
  text-align: center;

  &:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}

.State_inProgress {
  &:after {
    background: url('./rotate.svg');
    animation: spin 4s linear infinite;
  }
}

.State_success {
  &:after {
    background: url('./success.svg') no-repeat center;
  }
}

.State_failure {
  &:after {
    background: url('./failure.svg') no-repeat center;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}