.Container {
}

.ContainerWrapper {
  width: 640px;
  margin: 0 auto;
  height: 100%;
}

.Row {
  padding: 12px 140px;
  text-align: center;
}

.Logo {
  font-size: 48px;
  line-height: 57px;
  font-weight: 300;
  color: #0B80D4;
  padding-top: 88px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 104px;
    height: 28px;
    background: url('./logo.png');
    background-size: contain;
    left: -55px;
    top: 115px;
  }

  .Row {
    padding: 12px 20px;
  }
}

.Birth {
  padding-top: 68px;
  padding-bottom: 68px;

  .Row {
    padding: 12px 0px;
  }
}

.Text {
  font-size: 28px;
  line-height: 36px
}

.Form {
  /* bg: */
  background: #FFFFFF;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  position: relative;
  padding: 48px 0px;
  margin-bottom: 340px;
  height: 572px;
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px 0px rgba(0, 0, 0, 0.08), 0px 24px 48px 0px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }
}

.Submit {
  background: #DC19A8;
  box-shadow: 0px 8px 8px 0px rgba(220, 25, 168, 0.30);
  border-radius: 32px;
  padding: 16px 33px;
  border: none;
  color: #fff;
  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}